.search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #d1d5db;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    color: #000;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .search-input:focus {
    border-color: #2196f3;
  }
  